<mat-form-field  style="width:100%;">
    <mat-select style="width:100%;" id="{{idSelect}}" placeholder="Cidade"
        [formControl]="controladorFormulario" [compareWith]="compara" multiple={{multiplo}}
        [errorStateMatcher]="exibeErro" >
        <mat-option *ngFor=" let cidade of listaFiltrada" [value]="cidade">
            <span>{{cidade.nome}}</span>
        </mat-option>
    </mat-select>
    <mat-hint *ngIf="obrigatorio">Campo obrigátorio</mat-hint>
    <mat-error *ngIf="controladorFormulario.hasError('required')">
        Campo obrigatório
    </mat-error>
</mat-form-field>
