<div style="height: 94vh; width: 100%; position: relative;" fxLayoutAlign="space-between">
    <div fxFlex="17" fxLayout="column" fxLayoutGap="10px" class="py-2" style="height: 100%;" fxLayoutAlign="space-between">
        <div  fxLayout="column" fxLayoutGap="10px">
            <button class="background-primary botao-menu-lateral" mat-raised-button [routerLink]="configuracao.rotaListaPublicacao" (click)="minimizaSubBotoes()">Publicações</button>
            <button class="background-primary botao-menu-lateral" mat-raised-button (click)="calculaExibeSubBotoesRede()">
                <div fxFlex fxLayoutAlign="space-between center">
                    Rede
                    <mat-icon class="ml-1" style="color: #ffffff; font-size: 18px; max-width: 18px; max-height: 18px;" *ngIf="!exibeSubBotoesRede">expand_more</mat-icon>
                    <mat-icon class="ml-1" style="color: #ffffff; font-size: 18px; max-width: 18px; max-height: 18px;" *ngIf="exibeSubBotoesRede">expand_less</mat-icon>
                </div>
            </button>
            <div class="ml-2" fxLayout="column" fxLayoutGap="5px" *ngIf="exibeSubBotoesRede">
                <button style="color: #58af9c; font-size: 12px; line-height: 28px;" class="sub-botao-menu-lateral" mat-raised-button [routerLink]="configuracao.rotaListaContatos">Meus contatos</button>
                <button style="color: #58af9c; font-size: 12px; line-height: 28px;" class="sub-botao-menu-lateral" mat-raised-button [routerLink]="configuracao.rotaPesquisaUsuarios">Buscar novos</button>
            </div>
            <button class="background-primary botao-menu-lateral" mat-raised-button [routerLink]="configuracao.rotaCertificados" (click)="minimizaSubBotoes()">Certificados</button>
        </div>
        <div>
            <app-chat-contatos></app-chat-contatos>
        </div>
    </div>
    <div fxLayoutAlign="center" fxFlex class="px-2">
        <div style="position: relative;">
            <app-chat-janelas-conversas></app-chat-janelas-conversas>
        </div>
        <router-outlet></router-outlet>
    </div>
    
    <div fxFlex="17" class="px-2 py-2" *ngIf="exibeFiltro">
        <div style="width: 100%; height: 100%;" fxLayout="column">
            <app-select-estado *ngIf="exibeFiltroEstado"
            [exibeApenasUf]="false" 
            [controladorFormulario]="uf" 
            [multiplo]="true"></app-select-estado>
            
            <app-select-cidade *ngIf="exibeFiltroCidade"
             [controladorFormulario]="cidade" [estado]="ufUsuarioLogado" [multiplo]="true"></app-select-cidade>
            
            <app-select-area-atuacao [multiplo]="true" [controladorFormulario]="expertiseNecessaria">
            </app-select-area-atuacao>
            
            <app-select-tipo-usuario *ngIf="exibeFiltroTipoUsuario" [controladorFormulario]="tipoPessoa" [multiplo]="true"></app-select-tipo-usuario>
            
            <app-select-sim-nao *ngIf="exibeFiltroTodosUsuario" 
            [controladorFormulario]="todosUsuarios"
            [reservadorEspaco]="'Exibir publicações'"
            [reservadorEspacoSim]="'Minhas publicações'"
            [reservadorEspacoNao]="'Outros usuários'"
            [reservadorEspacoTodos]="'Todas publicações'"></app-select-sim-nao>
            
            <button class="background-primary botao-pesquisar" (click)="anunciaClickPesquisar()" mat-raised-button>Pesquisar</button>
        </div>
    </div>
</div>
