<div fxLayout="column" fxFill class="py-1" >
    <div  fxLayoutAlign="center center" style="min-height: 4rem;">
        <button mat-raised-button (click)="novaPublicacao()">
            <mat-icon class="mr-1" style="color: #58af9c; font-size: 18px; max-width: 18px; max-height: 18px;">post_add</mat-icon>
            Nova publicação
        </button>
    </div>
    <div fxFlex="100" fxLayoutAlign="center" style="overflow-y: auto;">
        <app-lista-publicacao  *ngIf="listaPublicacao?.length > 0" [listaPublicacao]="listaPublicacao" fxFlex></app-lista-publicacao>
        <div *ngIf="listaPublicacao && listaPublicacao.length === 0">
            <span>Nenhuma publicação encontrada</span>
        </div>
    </div>
</div>