.botao-cadastrar {
  color: #ffffff;
  border-radius: 1em;
  width: 100%;
  border: 1px solid white;
  margin-top: 1em;
}
.botao-cadastrar:focus {
  outline: none;
}
.botao-cadastrar:disabled {
  background-color: darkgrey;
}

.botao-entrar {
  color: #ffffff;
  border-radius: 1em;
  width: 100%;
  margin-top: 1em;
}
.botao-entrar:focus {
  outline: none;
}
