<mat-card *ngIf="usuario" class="mb-2">
    <div>
        <div fxFlex>
            <mat-card-title>{{usuario.nome}}</mat-card-title>
            <mat-card-subtitle class="mt-1">{{usuario.bairro}}, &nbsp;{{usuario.cidade}}, &nbsp;{{usuario.estado}}
            </mat-card-subtitle>
        </div>
        <div>
            <button class="botao-add"  mat-fab (click)="adicionaContato()" *ngIf="!usuario.ehContatoAdicionado">
                <mat-icon>
                    person_add_alt_1
                </mat-icon>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column" style="padding-top: 1rem;">
        <span *ngIf="usuario.listaAreaAtuacao?.length > 0" style="font-weight: 500;">Áreas de atuação</span>
        <li *ngFor="let area of usuario.listaAreaAtuacao">
            <span>{{area.nome}}</span>
        </li>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div fxLayoutAlign="space-between center" style="padding-top: 1rem;">
        <button class="botao-enviar" fxFlex="46" mat-button>
            <mat-icon class="mr-1" style="color: #58af9c; font-size: 18px; max-width: 18px; max-height: 18px;">message
            </mat-icon>
            Enviar mensagem
        </button>
        <button class="botao-enviar" fxFlex="46" mat-button fxLayoutAlign="center center">
            <mat-icon class="mr-1" style="color: #58af9c; font-size: 18px; max-width: 18px; max-height: 18px;">email
            </mat-icon>
            <span>Enviar e-mail</span>
        </button>
    </div>
</mat-card>
