<div style="height: 100%;" class="container py-5">
    <div style="height: 100%; background-color: #ffffff;" class="sombra-padrao arredondamento-padrao"
        fxLayoutAlign="center center" fxLayout="column">
        <div style="width: 60%;" class="mb-3" fxLayout="column">
            <form [formGroup]="formGroup" fxLayout="column">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field fxFlex="55">
                        <mat-label *ngIf="tipoUsuario.value == null || tipoUsuario.value == ''">Nome completo / Razão
                            social</mat-label>
                        <mat-label *ngIf="pessoaFisicaSelecionado">Nome completo</mat-label>
                        <mat-label *ngIf="pessoaJuridicaSelecionado || ongOscSelecionado">Razão social</mat-label>
                        <input type="text" matInput [formControl]="nome">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="nome.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field fxFlex="28">
                        <mat-label *ngIf="!tipoTelefone.value">Tel. Fixo</mat-label>
                        <input *ngIf="!tipoTelefone.value" mask="(00) 0000-0000" type="text" matInput [formControl]="telefone">

                        <mat-label *ngIf="tipoTelefone.value">Celular</mat-label>
                        <input *ngIf="tipoTelefone.value" mask="(00) 0 0000-0000" type="text" matInput [formControl]="telefone">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="telefone.hasError('minlength')">
                            Tamanho mínimo é 10 caracteres
                        </mat-error>
                        <mat-error *ngIf="telefone.hasError('maxlength')">
                            Tamanho máximo é 11 caracteres
                        </mat-error>
                        <mat-error *ngIf="telefone.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                    </mat-form-field>
                    <div fxLayout="column" fxFlex="13" fxLayoutAlign="end center">
                        <mat-label *ngIf="tipoTelefone.value">Celular</mat-label>
                        <mat-label *ngIf="!tipoTelefone.value">Tel. Fixo</mat-label>
                        <mat-slide-toggle [formControl]="tipoTelefone" >
                        </mat-slide-toggle>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="48" fxFlex.lt-md="100">
                        <app-select-tipo-usuario [controladorFormulario]="tipoUsuario" [obrigatorio]="true">
                        </app-select-tipo-usuario>
                    </div>
                    <div fxFlex="48" fxFlex.lt-md="100">
                        <app-select-area-atuacao [multiplo]="true" [controladorFormulario]="areaAtuacao"
                            [tipoUsuario]="tipoUsuario.value">
                        </app-select-area-atuacao>
                    </div>
                </div>

                <div class="mt-1" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field fxFlex="48" fxFlex.lt-md="100">
                        <mat-label>E-mail</mat-label>
                        <input type="email" matInput [formControl]="email" [errorStateMatcher]="emailMatcher"
                            placeholder="Ex. ishare@exemplo.com">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                            E-mail inválido
                        </mat-error>
                        <mat-error *ngIf="email.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                        <mat-error *ngIf="formGroup.hasError('emailsNaoCoincidem')">
                            Emails não coincidem
                        </mat-error>
                        <mat-error *ngIf="formGroup.hasError('emailJaExisteNaBase')">
                            Este e-mail já está cadastrado
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="48" fxFlex.lt-md="100">
                        <mat-label>Repita o e-mail</mat-label>
                        <input type="email" matInput [formControl]="validacaoEmail" [errorStateMatcher]="emailMatcher">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="validacaoEmail.hasError('email') && !email.hasError('required')">
                            E-mail inválido
                        </mat-error>
                        <mat-error *ngIf="validacaoEmail.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                        <mat-error *ngIf="formGroup.hasError('emailsNaoCoincidem')">
                            Emails não coincidem
                        </mat-error>
                        <mat-error *ngIf="formGroup.hasError('emailJaExisteNaBase')">
                            Este e-mail já está cadastrado
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="mt-1" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field fxFlex="25" fxFlex.lt-md="100">
                        <mat-label>CEP</mat-label>
                        <input type="text" matInput [formControl]="cep">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="cep.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="55" fxFlex.lt-md="100">
                        <mat-label>Rua</mat-label>
                        <input type="text" matInput [formControl]="rua">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="rua.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="15" fxFlex.lt-md="100">
                        <mat-label>Número</mat-label>
                        <input type="text" matInput [formControl]="numero">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="numero.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="mt-1" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field fxFlex="32" fxFlex.lt-md="100">
                        <mat-label>Bairro</mat-label>
                        <input type="text" matInput [formControl]="bairro">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="bairro.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="32" fxFlex.lt-md="100">
                        <mat-label>Cidade</mat-label>
                        <input type="text" matInput [formControl]="cidade">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="cidade.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                    <div fxFlex="32" fxFlex.lt-md="100">
                        <app-select-estado [controladorFormulario]="estado" [obrigatorio]="true"></app-select-estado>
                    </div>
                </div>

                <div class="mt-1" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field fxFlex="48" fxFlex.lt-md="100">
                        <mat-label>Senha</mat-label>
                        <input type="password" matInput [formControl]="senha" [errorStateMatcher]="senhaMatcher">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="senha.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                        <mat-error *ngIf="senha.hasError('minlength')">
                            Tamanho mínimo de senha é 8 caracteres
                        </mat-error>
                        <mat-error *ngIf="senha.hasError('maxlength')">
                            Tamanho máximo de senha é 16 caracteres
                        </mat-error>
                        <mat-error *ngIf="formGroup.hasError('senhasNaoCoincidem')">
                            Senhas não coincidem
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="48" fxFlex.lt-md="100">
                        <mat-label>Repita a senha</mat-label>
                        <input type="password" matInput [formControl]="repeteSenha" [errorStateMatcher]="senhaMatcher">
                        <mat-hint>Campo obrigatório</mat-hint>
                        <mat-error *ngIf="repeteSenha.hasError('required')">
                            Campo obrigatório
                        </mat-error>
                        <mat-error *ngIf="repeteSenha.hasError('minlength')">
                            Tamanho mínimo de senha é 8 caracteres
                        </mat-error>
                        <mat-error *ngIf="repeteSenha.hasError('maxlength')">
                            Tamanho máximo de senha é 16 caracteres
                        </mat-error>
                        <mat-error *ngIf="formGroup.hasError('senhasNaoCoincidem')">
                            Senhas não coincidem
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
            <div class="mt-1" fxLayoutAlign="center center">
                <button (click)="cadastrar()" fxFlex="30" fxFlex.lt-sm="80" fxFlex.lt-md="50"
                    [disabled]="!formGroup.valid" class="botao-cadastrar fonte-texto sombra-suave  background-primary"
                    mat-button>CADASTRAR</button>
            </div>
        </div>
    </div>
</div>